.moderator-list__container--items {
	@extend %container__block;
	padding: 0 5%;
}

.moderator-list__container--labels {
	@extend .moderator-list__container--single-item;
	border-bottom: $border--black;
	p {
		@extend .text__size--medium;
		@extend .text__weight--bold;		
	}
}

// Items
.moderator-list__container--single-item {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;	
	flex-wrap: no-wrap;
	padding: 1rem 0;
	&:nth-of-type(even) {
		background: $color--white-09;
	}
}

.moderator-list__text--username {
	@extend .text__align--center;
	flex: 1;
}

.moderator-list__text--email {
	@extend .text__align--center;	
	flex: 1;	
}

.moderator-list__text--created {
	@extend .text__align--center;	
	flex: 1;	
}

.moderator-list__container--action-buttons {
	@extend %container__flex--row;
	@extend %content__align--horizontal-center;		
	flex: 1;	
}

.moderator-list__button--delete {
	@extend %button--flat;
	color: $color__error--default;
}

.moderator-list__button--edit {
	@extend %button--flat;	
}