<section class="category__wrapper">
	<div class="category__container">
		<section-label add-button-link="app.private.main.example.list"
									 back-button-link="app.private.main.example.list">Example content</section-label>
		
		<content>
			<div class="moderator-list__container--items">
				<h1 style="font-size: 2.4rem;padding: 5rem">HELLO, and WELCOME to Natives content managment system </h1>
			</div>
		</content>
	</div>
</section>