/********************************
*   --- LOCALES ---             *
********************************/

.locale__container--flag {
	display: inline-block;
}

.locale {
	display: inline-block;
	background-image: url("/assets/images/flags.png");
	width: 1.5rem;
	height: 1.3rem;
	margin: 0 .5rem;
}

.bg {
	background-position: 1.5rem 6rem;
	background-size: 3rem 3rem;
}

.en {
	background-position: 1.5rem 4.5rem;
	background-size: 3rem 3rem;
}

.ru {
	background-position: 0rem 4.5rem;
	background-size: 3rem 3rem;
}