/**********************************
*     --- Login screen ---        *
**********************************/
drop-down {
	position: relative;	
}

.drop-down__container {
	display: block;
	position: relative;
	padding: 3.6rem 0; 
}

.drop-down__input {
	transition: .2s linear;
	background: #fff;
	border: none;
	border-bottom: .1rem solid #ddd;
	width: 100%;
	padding: .5rem 2rem;
	outline: none;
	&:focus {
		outline: none;
		border-bottom: .1rem solid #2196F3;
	}
	&:active {
		outline: none;
		border-bottom: .1rem solid #2196F3;
	}
	&:hover {
		cursor: pointer;
	}
}
.drop-down__container--results {
	display: none;
	position: absolute;
	top: -2rem;
	background: #fff;
	border: none;
	border-left: .1rem solid #aaa;
	border-right: .1rem solid #aaa;	
	width: 100%;
	height: 10rem;
	overflow-y: auto;
	box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .3), 0 -.2rem .2rem rgba(0, 0, 0, .3);
	z-index: 100;
	&:hover {
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3), 0 -.6rem .6rem rgba(0, 0, 0, .3);
	}
}

.drop-down__container--list {
	padding: 2rem 0;
}

.drop-down__item--text {
	transition: .2s linear;
	padding: .5rem 1rem;
	color: #333;
	&:hover {
		background: #ddd;
		color: #2196F3;
		cursor: pointer;
	}
}