<div class="drop-down__container">
	<input class="drop-down__input" 
				 autocomplete="off"
				 type="text" 
				 ng-model="query"
				 ng-click="searchResults($event)"
				 placeholder="{{::placeholder }}"
				 name="{{ name }}"
				 id="{{ name }}"
				 ng-required="required">
	<div class="drop-down__container--results">
		<ul class="drop-down__container--list">
			<li class="drop-down__item--list"
					ng-repeat="result in results"
					ng-click="selectItem(result)">
			<p class="drop-down__item--text">{{ result.name || result.names || result }}</p>
			</li>
		</ul>
	</div>
</div>