<!-- Sidebar -->
<section class="sidebar__wrapper">
	<div class="sidebar__container"
			 ng-class="{ 'sidebar__width--small': slimMenu }">

		<!--Sidebar Header-->
		<div class="sidebar__wrapper--header">
			
			<!--Image-->
			<div class="sidebar__container--user-image">
				<img ng-class="{ 'image__small': slimMenu, 'sidebar__image--user': !slimMenu }"
						 src="/assets/images/ind.jpg" 
						 alt="Sidebar header background">
			</div>
			
			<!--Name-->
			<div class="sidebar__container--user-name"
					 ng-class="{ 'item--hidden': slimMenu }">
				<p class="sidebar__text--user-name">{{ userMe.email }}</p>
			</div>

			<!--Options-->
			<div class="sidebar__wrapper--options">
					 
				<!--Uncomment if user have to change settings-->
					 
				<!--<a class="sidebar__container--option-settings"
					 ng-class="{ 'menu-item__settings--selected': currentRoute('settings') }"
					 ui-sref="app.private.cms.settings">
					<i class="fa fa-cogs"></i>
					<span class="sidebar__text--option-settings" translate>SETTINGS.LABEL</span>
				</a>-->
				
				<a class="sidebar__container--option-logout"  
					 ng-click="logout()" 
					 aria-hidden="true"
					 title="{{ 'LOG_OUT.LABEL' | translate }}">
					<i class="fa fa-sign-out"
						 ng-class="{ 'icons_large': slimMenu }"	>
					</i>
					<span class="sidebar__text--option-logout" 
								ng-class="{ 'item--hidden': slimMenu }"
								translate>LOG_OUT.LABEL</span>
				</a>				
			</div>
		</div>
		
		<label class="sidebar__label--menu"
					 ng-class="{ 'item--hidden': slimMenu }">Меню
		</label>

		<!--Sidebar menu items-->
		<div class="sidebar__wrapper--menu">
			<ul class="sidebar__container--menu">
				<li ng-repeat="category in categories">
				 <a class="sidebar__menu-item" 
						ng-class="{ 'menu-item--selected': currentRoute(category.name) }"
						ui-sref="{{ category.link }}"
						title="{{ category.name.toUpperCase() + '.LABEL' | translate }}">
					<i class="sidebar__menu-item--icon fa {{ category.icon }} " 
						 ng-class="{ 'icons_large': slimMenu }"						 
						 aria-hidden="true">
					</i>
					<p class="sidebar__menu-item--text" 
						 ng-class="{ 'labels__hide': slimMenu }">{{ category.name.toUpperCase() + '.LABEL' | translate}}
					</p>
				 </a>
				</li>
			</ul>
			<!--Sidebar bottom trigger-->
			<div  class="sidebar__container--triger"
						ng-click="menuTriger()">
				<i class="fa fa-chevron-left sidebar__icon--triger"
				   ng-class="{ 'rotate__icon': slimMenu }"
				   aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>