$sidebar__width: 20rem;

%link--options {
	transition: $transition--default;
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;
	// @extend .text__weight--bold;
	flex-grow: 1;
	min-width: 8rem;	
	margin: .5rem;
	padding: .2rem;
	color: $color--white-06;
	&:hover {
		cursor: pointer;
		color: $color--light;		
	}
}

// Styles
.sidebar__wrapper {
	@extend %wrapper--block;
	overflow: hidden;
}

.sidebar__container {
	transition: $transition--default;
	@extend %container__flex--column;
	box-shadow: $box-shadow-normal;
	width: $sidebar__width;
	height: calc(100vh - #{ $header--height });
	filter: grayscale(60%);
	&:hover {
		filter: grayscale(0);
	}
}

// Header
.sidebar__wrapper--header {
	@extend %wrapper--block;
	background: url('/assets/images/cms__header--bg.jpg') no-repeat scroll 100% 100% / cover;
	color: $color--white-07;
	width: 100%;
	max-height: 11.9rem;
}

.sidebar__container--user-image {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;	
	padding: 1rem 1rem 0rem 1rem;
}

.sidebar__image--user {
	border-radius: 50%;
	background: $color--white-06;
	width: 6rem;
	height: calc(#{ $sidebar__width }  / 3.5);
	opacity: 1;
}

.sidebar__container--user-name {
	@extend %container__block;
	@extend .text__align--center;
	width: $sidebar__width;
	padding: 1rem;
	word-wrap: break-word;
}

.sidebar__text--user-name {
	@extend .text__size--normal;
}

.sidebar__wrapper--options {
	@extend %wrapper--flex;
	flex-wrap: wrap;
	background: $color__black--transperant;
}

.sidebar__container--option-settings {
	@extend %link--options;
}

.sidebar__text--option-settings {
	padding: 0 .5rem;
}

.sidebar__container--option-logout {
	@extend %link--options;
	padding: .5rem;
	margin: 0;
	min-width: auto;
	font-size: 1.4rem;
	&:hover {
		background: $color--white;
	}
}

.sidebar__text--option-logout {
	padding: 0 .5rem;
}

// Menu
.sidebar__wrapper--menu {
	transition: $transition--default;	
	flex: 1;
	overflow: hidden;
	background: $color--white-09;
	&:hover {
		background: $color--white;		
		overflow-y: auto;
		box-shadow: $box-shadow-hover;
	}
}

.sidebar__label--menu {
	@extend %label--section;
	padding-top: 1rem;
	text-align: center;
}

.sidebar__container--menu {
	@extend %container__block;
	padding: .5rem 0 4rem 0;
}
.sidebar__menu-item {
	transition: $transition--default;
	position: relative;
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	flex-wrap: no-wrap;
	padding: .5rem .5rem .5rem .5rem;
	margin: .2rem 0;
	color: $color--black-08;
	&:hover {
		background: $color--black-07;
		cursor: pointer;
		color: $color--white;
	}
}
.sidebar__menu-item--icon {
	padding: 0 1rem;
	width: 3.4rem;
}

.sidebar__menu-item--text {
	transition: $transition--default;	
	display: inline-block;
	font-size: 1.4rem;
	width: calc(#{ $sidebar__width } - 6rem);
}

.menu-item--selected {
	color: $color--primary;
}

.menu-item__settings--selected {
	color: $color--light;
	text-shadow: 0 0 0 $color--light;
}

// Sidebar triger
.sidebar__container--triger {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background: $color--black-09;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
}

.sidebar__icon--triger {
	transition: transition--default;
	color: $color--white;
	display: block;
	text-align: center;
}

// Slim menu styles
.rotate__icon {
	transform: rotateY(180deg);
}

.sidebar__width--small {
	width: 5rem;
}

.item--hidden {
	display: none;
}

.labels__hide {
	position: absolute;
	top: 0;
	left: -10rem;
}

.icons_large {
	font-size: 1.8rem;
	padding: .7rem 0;
	display: block;
	text-align: center;
	width: 100%;
}

.image__small {
	border-radius: 50%;
	width: 4rem;
	height: calc(12rem / 3.5);
	margin-bottom: 1rem;
	opacity: 1;
}
