.content__wrapper {
	transition: $transition--default;
	transform: translate3d(200%, -5rem, 0);
	background: $color--white-09;
	box-shadow: $box-shadow-normal;
	border-radius: $border--radius-03;
	width: 89%;
	margin-left: 3%;
	padding: 1rem;
	animation: content-in .3s linear .3s forwards;
	overflow: hidden;
	&:hover {
		background: $color--white;		
		box-shadow: $box-shadow-hover;
	}
}

// Animation
@keyframes content-in {
	0% { transform: translate3d(200%, -5rem, 0); }
	100% { transform: translate3d(0, -5rem, 0); }
}

@-webkit-keyframes content-in {
	0% { transform: translate3d(200%, -5rem, 0); }
	100% { transform: translate3d(0, -5rem, 0); }
}