$fake-input__margin-top: 2rem;

.image-upload__wrapper {
	@extend %wrapper--block;
	flex: 1;
}

.image-upload__conainer {
	@extend %container__block;
	flex: 1;
}

.image-upload__container--review {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;	
	min-height: 17rem;
}

.image-upload__image--preview {
	width: 25%;
	min-width: 17rem;
}

.image-upload__container--input {
	@extend %container__block;
}
.image-upload__input--file {
	position: absolute;
	top: 0;
	left: 1rem;
	margin-top: $fake-input__margin-top;
	width: 100%;
	height: 4rem;
	opacity: 0;
	&:hover {
		cursor: pointer;
	}
}

.image-upload__container--fake-input {
	@extend %container__flex--row;
	margin-top: $fake-input__margin-top;
	padding-bottom: .5rem;
}

.image-upload__button--browse {
	@extend %button--flat;
	background: $color--white-08;
	padding: .5rem 3rem;	
}


.image-upload__input--filename {
	border-bottom: $border--gray;
	line-height: 3.5rem;
	flex: 1;
}

.image-upload__text--hint {
	@extend .text__align--right;
	@extend %item__align--center;
	padding-right: 1rem;
}

.image-upload__text--error {
	
}