<!--Image-->
<div class="image-upload__wrapper">
	<div class="image-upload__conainer">
		<div class="image-upload__container--review">
			<img class="image-upload__image--preview" ngf-src="imageModel || '/assets/images/no.gif'">
		</div>
		<div class="image-upload__container--input">
			<input type="file" 
						class="image-upload__input--file" 
						ng-model="imageModel" 
						accept="image/png, image/jpg, image/jpeg, image/svg" 
						ngf-model-invalid="invalidFiles"
						ngf-select="" 
						name="fileInput" 
						ng-change="imageName = imageModel.name">
			<div class="image-upload__container--fake-input">
				<button class="image-upload__button--browse" translate>BUTTONS.BROWSE</button>
				<span class="image-upload__input--filename">{{ imageName || 'MESSAGES.CHOOSE_IMAGE' | translate}}</span>
			</div>
		</div>
		<p class="image-upload__text--hint" ng-hide="categoryCreate.$submitted && categoryCreate.fileInput.$error.required" translate>MESSAGES.IMAGE</p>
		<p class="image-upload__text--error" ng-if="categoryCreate.$submitted && categoryCreate.fileInput.$error.required" translate>MESSAGES.IMAGE_REQUIRED</p>					
	</div>
</div>

<!--ngf-resize="{width: 1024, height: 150}" -->
