.loader__wrapper {
	@extend %wrapper--block;
	position: fixed;
	top: -9999;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}

.loader__container {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;
	width: 100%;
	height: 100vh;
}

.loader__image {
	width: 10rem;
	height: 10rem;
}