<div class="checkbox__container" ng-click="clickHandler()">
	<label class="checkbox__label" ng-transclude></label>
	<input class="checkbox--hidden" type="checkbox" ng-model="model">
	<div class="checkbox__image"></div>
</div>
