/********************************
*   --- checkbox ---             *
********************************/

.checkbox__container {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	user-select: none;
	position: relative;
	margin: 2rem 0;
}

.checkbox__label {
	display: flex;
	flex-direction: row;
	align-items: center;
	order: 2;
	&:hover {
		cursor: pointer;
	}
}

.checkbox__image {
	background: url('/assets/images/check--empty.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;	
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
	order: 1;
}

.checkbox--hidden {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
}

.checkbox--hidden:checked ~ .checkbox__image {
	background: url('/assets/images/check--checked.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
	
}
