/********************************
*   --- TEXTAREA ---             *
********************************/
$label__padding--textarea: 2rem;

.textarea__container {
	display: block;
	position: relative;
	min-height: 1rem;
	margin: 3rem 0 0 0;
	padding: 0;
	overflow: hidden;
	padding-top: $label__padding--textarea;
}

.textarea__field {
	transition: .2s linear;	
	display: flex;
	flex: 1;
	align-self: stretch;
	border: .1rem solid #ddd;
	padding: 1rem;
	width: 100%;
	&:focus {
		border: .1rem solid #1976D2;
		box-shadow: 0 .1rem .3rem $shadow__normal--first, 0 .1rem .2rem $shadow__normal--second;
	}
	&:focus ~ .textarea__label {
		color: #1976D2;
	} 
}

.textarea__label {
	transition: .2s linear;
	position: absolute;
	top: 0;
	left: 1rem;
	&:hover {
		cursor: pointer;
	}
}