<div class="textarea__container">
	<textarea class="textarea__field"
						name="{{ name }}"
						id="{{ name }}"
						ng-model="model"
						ng-model-options="{ allowInvalid: true }"
						ng-required=" {{ required }}">
	</textarea>
	<label  class="textarea__label"
					for="{{ name }}" ng-transclude="">
	</label>
</div>