<section class="structure__wrapper">
	<!--Header-->
	<section class="header__wrapper">
		<div class="header__container">
			<label class="header__label">Boilerplate</label>
			<div class="header__text--version">
				<p class="header__container--cms-name">
					<img class="header__icon--feather" 
							src="/assets/images/feather.png" 
							alt="feathe icon">
					<span>Natives CMS</span>
					<i class="fa fa-question-circle header__icon--hint" 
					   ng-click="vm.showVersion = !vm.showVersion"
						 aria-hidden="true"></i>
					<span class="header__text--version-name"
								ng-click="vm.showVersion = !vm.showVersion"
								ng-class="{ 'show__version': vm.showVersion }"> v1.0.1 "Cherokee"</span>
				</p>
			</div>
		</div>
	</section>
	
	<!--Aside-->
	<section class="aside__wrapper">
		<div class="aside__container">
			<sidebar></sidebar>
			<div class="aside__wrapper--content">
				<div class="aside__container--content" id="cmsContent" ui-view></div>
			</div>
		</div>
	</section>
</section>


