/**************************
*    --- Structure ---    *
**************************/
$header--height: 3rem;

// Styles
.structure__wrapper {
	@extend %wrapper--block;
	min-height: 100vh;
}

// Header
.header__wrapper {
	@extend %wrapper--flex; 
	background: #321D5C;
	height: $header--height;
	overflow: visible;
}

.header__container {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-left;	
	flex-grow: 1;
	box-shadow: $box-shadow-normal;
}

.header__label {
	@extend .text__size--medium;
	@extend .text__weight--bold;	
	padding-left: 2rem;
	color: $color--white;
}

.header__icon--feather {
	height: 2rem;
	width: 2rem;
	margin: 0 1rem;
}

.header__text--version {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-right;	
	flex: 1;
	text-align: right;
	color: $color--white;
	margin-right: 2rem;
}

.header__icon--hint {
	margin: 0 1rem;
	&:hover {
		cursor: pointer;
		color: $color--light;
	}
}

.header__container--cms-name {
	position: relative;
	@extend %container__flex--row;
	@extend %content__align--vertical-center;	
}

.header__text--version-name {
	transition: $transition--default;
	position: absolute;
	bottom: -3.5rem;
	z-index: 10;
	right: 0;
	background: $color--black;

	padding: .5rem 2rem;
	transform: translate3d(20rem, 0, 0);
	&:hover {
		cursor: e-resize;
	}
}

.show__version {
	transform: translate3d(0, 0, 0);	
}

// Aside
.aside__wrapper {
	@extend %wrapper--flex;
	background: $color--white;
	flex: 1;
}

.aside__container {
	@extend %container__flex--row;
	flex: 1;
}

.aside__wrapper--content {
	@extend %wrapper--flex;
	height: calc( 100vh - #{ $header--height });
	flex: 1;
}

.aside__container--content {
	overflow-y: auto;
	flex: 1;
}