// .login--container {
// 	position: relative;
// 	width: 100%;
// 	height: 100vh;
// 	overflow: hidden;
// 	@extend %login-gradient;
// 	.login--wrapper {
// 		transition: .3s linear;
// 		display: block;
// 		width: 50rem;
// 		margin: 20vh auto;
// 		@include box($white, $border-radius-03, $box-shadow-normal);
// 		&:hover{
// 			box-shadow: $box-shadow-hover;
// 		}
// 	}
// }

// .login_label--container {
// 	padding: 2rem 2rem;
// 	background: $cobalt;
// 	border-radius: .3rem .3rem 0 0;
// 	border-bottom: .1rem solid $blue-black;
// 	.login_label--text {
// 		@include font($mediumText, $white,  $align: left, $transform: uppercase);
// 	}
// }

// .login_content--container {
// 	padding: 4rem 4rem 2rem 4rem;
// }

// .edit-button {
// 	transition: .3s linear;
// 	padding: 2rem;
// 	@include box($materialNormal, $border-radius-50, $shadow: $box-shadow-normal, $border: none);
// 	@include font($largeText, $white);
// 	&:hover {
// 		cursor: pointer;
// 		box-shadow: $box-shadow-normal;
// 	}
// 	&:focus {
// 		background: $materialFocus;
// 	}
// 	&:active {
// 		background: $materialActive;
// 		box-shadow: $box-shadow-hover;		
// 	}
// }