<section class="top-menu__wrapper">
	<div class="top-menu_container">
		
		<!--Logo-->
		<div class="top-menu__container--logo">
			<a href="/">
				<img class="top-menu__image--logo" 
						 src="/assets/images/logo--image.png" 
						 alt="Logo image">
			</a>
		</div>
		<!--End logo-->
		
		<!--Navigation menu-->
		<nav class="top-menu__container--nav">
			<ul class="top-menu__container--nav-list">
				<li class="top-menu__item--nav" 
						ng-repeat="item in menuItems">
					<a ui-sref="{{ item.state }}" 
						 class="top-menu__text--nav-item" >{{ item.title }}</a>
				</li>
			</ul>
		</nav>
		<!--End navigation menu-->
		
		<!--Locales-->
		<div class="top-meu__container--locales">
			<div class="top-meu__conatiner--single-locale"
					 ng-repeat="lang in languages">
				<div class="top-menu__image--flag {{ lang }}"></div>
				<p class="top-menu__text--locale">{{ lang }}</p>
			</div>
		</div>
		<!--End locales-->
		
		<!--Signup button-->
		<div class="top-menu__container--signup-button"
				 ng-if="!isLogged">
			<button class="top-meu__button--signup"
							ui-sref="app.public.registration">Register</button>
		</div>
		<!--End signup button-->
		
		<!--Hamburger-->
		<div class="top-menu__container-hamburger"
				 ng-click="mobileTrigger()">
			<div class="hamburger__bar"
					 ng-class="{ 'bar__one--close': mobileMenu }"></div>
			<div class="hamburger__bar"
					 ng-class="{ 'bar__two--close': mobileMenu }"></div>
			<div class="hamburger__bar"
					 ng-class="{ 'bar__three--close': mobileMenu }"></div>			
		</div>
		<!--End hamberger-->
		
		<!--Mobile menu-->
		<div class="top-menu__container--mobile"
				 ng-if="mobileMenu">			
			<nav class="mobile-menu__container">
				
				<div class="mobile-menu__container--logo">
					<img class="mobile-menu__image--logo"
							 src="/assets/images/logo--image.png" 
							 alt="Mobile logo">
				</div>
				
				<ul class="mobile-menu__container--list">
					<li class="mobile-menu__item"
							ng-click="hideMobileMenu()"
							ng-repeat="item in menuItems">
						<a 	ui-sref="{{ item.state }}"
								class="mobile-menu__text--item" >{{ item.title }}</a>
					</li>
					<li class="mobile-menu__item locales__row">
						<div class="mobile__locale"
								 ng-repeat="lang in languages">
							<div class="top-menu__image--flag {{ lang }}"></div>
						</div>
					</li>
					<li class="mobile-menu__item"
							ng-if="!isLogged">
						<button ng-click="hideMobileMenu()"
										ui-sref="app.public.registration"
										class="top-meu__button--signup">Register</button>
					</li>
				</ul>
			</nav>
			
		</div>
		<!--End mobile menu-->
	</div>
</section>