
// Variables
$nav__height: 4rem;

.top-menu__wrapper {
	@extend %wrapper--block;
	@extend %top-menu__gradient--background;
	height: $nav__height;
	overflow: visible;
}

.top-menu_container {
	@extend %container__flex--row;
}

// Logo
.top-menu__container--logo {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	background: $top-menu__background--logo;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	width: 20rem;
	height: 8rem;		
}

.top-menu__image--logo {
	width: 6rem;
	height: 6rem;
	margin: .8rem 4rem .5rem 4rem;
}

// Navigation
.top-menu__container--nav {
	flex: 1;
	overflow: hidden;
	@media only screen and (max-width: 980px ) {
		display: none;
	}
}

.top-menu__container--nav-list {
	@extend %center__all;	
	height: $nav__height;
}

.top-menu__item--nav {
	@extend .text__align--center;	
	width: 17rem;
}

.top-menu__text--nav-item {
	@extend .text__size--medium;
	@extend .text__weight--bold;	
	transition: $transition--default;
	color: $color--white;
	&:hover {
		color: $color--active;
		cursor: pointer	
	}
}

// Locales
.top-meu__container--locales {
	@extend %center__all;
	height: $nav__height;
	overflow: hidden;
	@media only screen and (max-width: 980px ) {
		display: none;
	}
}

.top-meu__conatiner--single-locale {
	@extend %center__all;
	transition: $transition--default;
	width: 6rem;
	height: $nav__height;
	margin: 0 .5rem;
	color: $color__white-07;
	&:hover {
		cursor: pointer;
		color: $color--white;
		.top-menu__image--flag {
			filter: grayscale(0%);
		}
	}
}

.top-menu__image--flag {
	width: 3rem;
	height: 1.5em;
	margin: 0 .5rem;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	filter: grayscale(80%);
	&.en {
		background-image: $locale__flag--tr;
	}
	
	&.bg {
		background-image: $locale__flag--en;		
	}
}



.top-menu__text--locale {
	text-transform: uppercase;	
}

// Button sign
.top-menu__container--signup-button {
	@extend %center__all;	
	height: $nav__height;	
	padding: 0 2rem;
	@media only screen and (max-width: 980px ) {
		display: none;
	}
}

.top-meu__button--signup {
	@extend %action__button;
}

// Hamburger
.top-menu__container-hamburger {
	display: none;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	height: 3rem;
	&:hover {
		cursor: pointer;
	}
	@media only screen and (max-width: 980px ) {
		display: block;
	}
}

.hamburger__bar {
	transition: $transition--default;
	width: 3rem;
	height: .3rem;
	margin: .5rem;
	background: $color--white;
	border-radius: .2rem;
}

// Mobile menu
.top-menu__container--mobile {
	background: rgba(0, 0, 0, .7);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 8rem;
	left: 0;
	z-index: 2;
}

.mobile-menu__container {
	width: 80%;
	background: #111;
	height: 100%;
	transform: translate3d(-200%, -8rem, 0);
	animation: slidein .2s linear forwards;
	overflow-y: scroll;
}

.mobile-menu__container--logo {
	background: $color--white;	
}

.mobile-menu__image--logo {
	display: block;
	margin: 0 auto;
	padding: .5rem;
	width: 5rem;
}

.mobile-menu__container--list {
	padding: 2rem 3rem 0 3rem;
}

.mobile-menu__item {
	transition: $transition--default;
	text-align: center;
	margin: .5rem 0;
	padding: .5rem 0;
	color: $color__white;
	transform: translateX(-200%);
	&:first-of-type {
		margin: 0;
	}
}

.mobile-menu__text--item {
	font-size: 2.4rem;
	color: $color--white;
}

.locales__row {
	@extend %container__flex--row;
	justify-content: center;
}

.mobile__locale {
	display: inline-block;
	transition: all 0.3s linear 0s;
	width: 4.5rem;
	margin: 1rem 0.5rem;
}

.slide--async {
	transform: translate3d(0, 0, 0);
}

.bar__one--close {
	background: $color__hover--active;
	transform: rotateZ(45deg) translate3d(.6rem, .5rem, 0);
}

.bar__two--close {
	opacity: 0;
}

.bar__three--close {
	background: $color__hover--active;	
	transform: rotateZ(-45deg) translate3d(.5rem, -.5rem, 0);	
}


// Animations
@keyframes slidein {
	0% { transform: translate3d(-200%, -8rem, 0) }
	100% { transform: translate3d(0, -8rem, 0) }
}

@-webkit-keyframes slidein {
	0% { transform: translate3d(-200%, -8rem, 0) }
	100% { transform: translate3d(0, -8rem, 0) }
}