<!--Section label-->
<section class="section-label__wrapper">
	<div class="section-label__container">
		<label class="section-label__label">
			<p class="fa fa-arrow-left section-label__button--back" 
				 aria-hidden="true" 
				 ng-if="backButtonLink" 		  
				 ui-sref="{{ backButtonLink }}"
				 title="One step back">
			</p>
			<span class="section-label__text--label" ng-transclude></span>
		</label>
		<button class="section-label__button-add" 
						type="button"
						ng-if="addButtonLink" 
						ui-sref="{{ addButtonLink }}">
			<p class="cms__add__button__plus">+</p>
		</button>
	</div>
</section>