.section-label__wrapper {
	transition: transition--default;
	@extend %wrapper--block;
	overflow: visible;
}

.section-label__container {
	@extend %container__block;
	overflow: visible;
	width: 100%;
	height: 14.8rem;
	background: $color--black;
}

.section-label__label {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend .text__size--extra-large;
	padding: 2rem;
	color: $color--white;
}

.section-label__button--back {
	@extend .text__size--large;
	padding: 0 1rem;
	margin: 0 2rem 0 0;
	&:hover {
		cursor: pointer;
	}
}

.section-label__button-add {
	@extend %button--primary;
	@extend .text__size--large;
	@extend .text__weight--bold;
	position: absolute;
	bottom: -2rem;
	border-radius: 50%;
	right: 1rem;
	width: 5rem;
	height: 5rem;
	background: $color--light;
}

.section-label__text--label {
	opacity: 0;
	animation: show-label .3s linear forwards;
}

@keyframes show-label {
	0% { opacity: 0 }
	100% { opacity: 1 }	
}

@-webkit-keyframes show-label {
	0% { opacity: 0 }
	100% { opacity: 1 }	
}