<div class="autocomplete__container">
	<input class="autocomplete__input" 
				 autocomplete="off"
				 type="text" 
				 ng-model="query"
				 ng-change="searchResults(query)"
				 ng-blur="focusLost($event)"
				 placeholder="Търси ...">
	<img class="autocomplete__item--spinner" 
			 src="/assets/images/loader.svg" 
			 alt="Spinner image">
	<section class="autocomplete__container--results">
		<ul class="autocomplete__container--list"
				 ng-show="results.length">
			<li class="autocomplete__item--list"
					ng-repeat="result in results"
					ng-click="selectItem(result)">
				<p class="autocomplete__item--text">{{ result.translation.name || result.translation.names }}</p>
			</li>
		</ul>
		<p class="autocomplete__item--text" 
			 ng-show="!results.length"> Няма намерени резултати</p>
	</section>
</div>
