/**********************************
*     --- Login screen ---        *
**********************************/

.autocomplete__container {
	display: block;
	position: relative;	
}

.autocomplete__input {
	transition: .2s linear;
	background: #fff;
	border: none;
	border-bottom: .1rem solid #ddd;
	width: 100%;
	padding: 1rem .5rem;
	outline: none;
	&:focus {
		outline: none;
		border-bottom: .1rem solid #2196F3;
	}
	&:active {
		outline: none;
		border-bottom: .1rem solid #2196F3;
	}
}
.autocomplete__container--results {
	display: none;
	position: absolute;
	top: -2rem;
	background: #fff;
	width: 100%;
	min-height: 4rem;
	box-shadow: 0 .3rem .2rem rgba(0, 0, 0, .3);
	z-index: 100;
}

.autocomplete__container--list {
	padding: 2rem 0;
}

.autocomplete__item--list {}

.autocomplete__item--spinner {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	z-index: 10000;
	display: none;
}

.autocomplete__item--text {
	transition: .2s linear;
	padding: .5rem 1rem;
	color: #333;
	&:hover {
		background: #aaa;
		color: #fff;
		cursor: pointer;
	}
}