$fake-input__margin-top: 2rem;

.image-upload__wrapper {
	@extend %wrapper--block;
	flex: 1;
}

.image-upload__conainer {
	@extend %container__block;
	flex: 1;
	padding: 1rem 0
}

.image-upload__container--review {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;	
	min-height: 17rem;
}

.image-upload__image--preview-base {
	height: 20rem;
}

.image-upload__container--input {
	@extend %container__block;
}
.image-upload__input--file {
	position: absolute;
	top: 0;
	left: 1rem;
	margin-top: $fake-input__margin-top;
	width: 100%;
	height: 4rem;
	opacity: 0;
	&:hover {
		cursor: pointer;
	}
}

.image-upload__container--fake-input {
	@extend %container__flex--row;
	margin-top: $fake-input__margin-top;
	padding-bottom: .5rem;
}

.image-upload__button--browse {
	@extend %button--flat;
	background: $color--white-08;
	padding: .5rem 3rem;	
}


.image-upload__input--filename {
	border-bottom: $border--gray;
	line-height: 3.5rem;
	width: calc(100% - 10rem);
	overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-upload__text--hint {
	@extend .text__align--right;
	@extend %item__align--center;
	padding-right: 1rem;
}

// Multiple filaUpload

.image-upload__wrapper--multiple {
	@extend %wrapper--block;
	overflow: hidden;
	max-height: 25rem;
	overflow-y: auto;	
	margin: 0 5%;
}

.image-upload__container--multiple {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	flex-wrap: wrap;
	height: 5rem;
	&:nth-of-type(odd) {
		background: $color--white-09;
	}
	&:hover {
		.image-upload__text--filename {
			color: $button__text--flat;
		}
	}
}

.image-upload__container--multiple-preview {
	width: 5rem;
	max-height: 5rem;
	overflow: hidden;
	padding: .5rem;
}

.image-upload__image--multiple-preview {
	max-height: 4rem;
	margin: 0 auto; 
}

.image-upload__text--filename {
	transition: transition--default;
	width: calc(100% - 15rem);
	padding: 0 1rem;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
	
}

.image-upload__button--multiple-delete {
	@extend %button--flat;
	color: $color__error--default;
}

.image-upload__container--multiple-button {
	@extend %container__flex--row;
	flex-wrap: wrap;
	width: 100%;
	padding: 1rem;
}

.image-upload__button--multiple-button {
	@extend %button--primary;
	padding: 1rem 3rem;
	width: 100%;
}