<!--Image-->
<div class="image-upload__wrapper">
	<div class="image-upload__conainer">
		<!--Single image preview section-->
		<div class="image-upload__container--review" 
		     ng-show="!multipleImages.length && type !== 'multiple'">
			<img class="image-upload__image--preview-base" 
					 ng-src="{{ query || '/assets/images/no.gif' }}"
					 ng-show="!imageModel[0].base64 && !imageModel.base64">
			<img class="image-upload__image--preview-base" 
					 ng-src="data:{{ imageModel[0].filetype}};base64, {{ imageModel[0].base64 }}"
					 ng-show="imageModel[0].base64">	
			<img class="image-upload__image--preview-base" 
					 ng-src="data:{{ imageModel.filetype}};base64, {{ imageModel.base64 }}"
					 ng-show="imageModel.base64">	
		</div>
		<!--End single image Preview section-->
		
		<!--Upload button and imput	-->
		<div class="image-upload__container--input"
				 ng-show="type !== 'multiple'">
			<input type="file"
						 multiple
						 class="image-upload__input--file" 
						 ng-model="imageModel"
						 base-sixty-four-input 
						 name="fileInput" 
						 ng-change="imageChange( imageModel )">
			<div class="image-upload__container--fake-input">
				<button class="image-upload__button--browse" translate>BUTTONS.BROWSE</button>
				<span class="image-upload__input--filename">{{ query || imageModel[0].filename || 'MESSAGES.CHOOSE_IMAGE' | translate}}</span>
			</div>
		</div>
		<!-- End Upload button and imput	-->
		
		<!--Multiple files upload buttons-->
		<div class="image-upload__container--multiple-button" 
				 ng-show="type === 'multiple'">
			<button class="image-upload__button--multiple-button"
							type="button">Add images
			</button>
			<input type="file"
						 multiple
						 class="image-upload__input--file" 
						 ng-model="imageModel"
						 base-sixty-four-input 
						 name="fileInput" 
						 ng-change="imageChange( imageModel )">
		</div>
		<!--End multiple files upload button-->
		
		<!--Multiple files upload preview-->
		<div class="image-upload__wrapper--multiple" ng-show="multipleImages.length">
			<div class="image-upload__container--multiple" ng-repeat="image in multipleImages">
				<div class="image-upload__container--multiple-preview">
					<img class="image-upload__image--multiple-preview" 
							 ng-src="data:{{ image.filetype}};base64, {{ image.base64 }}" 
							 alt=" uploaded image">
				</div>
				<p class="image-upload__text--filename">{{ image.filename }}</p>
				<button class="image-upload__button--multiple-delete" 
								type="button" 
								ng-click="deleteImage(image.filename)">{{ 'BUTTONS.DELETE' | translate }}</button>
			</div>
		</div>		
		<!--End multiple files upload preview-->
		
	</div>
</div>
