<div id="confirm__wrapper"
		 class="confirm__wrapper"
		 ng-show="visible"
		 visible="0">
	<div class="confirm__container">
		<label class="confirm__text--message" ng-transclude></label>
		<div class="confirm__container--buttons">
			<button class="confirm__button" ng-click="setVissible(true)">{{ 'YES' | translate }}</button>
			<button class="confirm__button" ng-click="setVissible(false)">{{ 'NO' | translate }}</button>				
		</div>
	</div>
</div>