.confirm__wrapper{
	@extend %wrapper--flex;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $color__background--transperant;
	z-index: 998;
}

.confirm__container {
 	transition: $transition--default;
	@extend %container__block;
	width: 35rem;
	background: $color--white-07;
	border-radius: $border--radius-03;
	box-shadow: $box-shadow-normal;
	padding: 2rem;
	&:hover {
		background: $color--white;
		box-shadow: $box-shadow-hover;
	}
}

.confirm__text--message {
	@extend .text__size--medium;
	@extend .text__align--center;	
}

.confirm__container--buttons {
	@extend %container__flex--row;
	@extend %content__align--horizontal-center;
	padding: 2rem 0 0 0;	
}

.confirm__button {
	@extend %button--primary;
	padding: .5rem 2rem;
}