/* Errors */
.error-message {
	display: block;
	@extend .text__size--small;
	color: $color__error--default;
	padding: .2rem 2rem;
	text-align: right;
}
/* End errors */
/*Forms*/
.form-group {
  position: relative;
  display: block;
  margin-bottom: 5rem;
}

.form-group-small {
	position: relative;
  display: block;
  margin-bottom: 2rem;
}

.form-control {
  transition: $transition--default;
  @extend .text__size--normal;
  background: none;
	border: none;
  border-bottom: 1px solid $color--white-08;
  box-shadow: none;
  display: block;
  overflow: hidden;
  padding: .7rem 1rem;
	width: 100%;
	&:focus {
		outline: none;
		box-shadow: 0px .1rem 0 0 $color--primary;
		border-bottom: 1px solid $color--primary;
		color: $color--primary;
	}
}

.form-group-message {
	@extend .text__size--small;
	// transform: translateY(-4.7rem);
	padding: 0 2rem;
}

.textarea-message {
	@extend .text__size--small;	
	margin: 0.5rem 0 0 1rem;
	height: 1rem;
}
/* End forms */

/*Labels*/
.label-container {
  border-bottom: 1px solid $color--white-05;
  min-height: 4rem;
}

.label {
  @extend .text__size--normal;
  padding: .5rem;
  margin: 0;
  text-transform: uppercase;
}
/*/End abels*/

.input-label {
  transition: .2s linear;
  @extend .text__size--normal;
  position: absolute;
  top: 1rem;
  left: 1rem;
	cursor: text;
}

.form-control:focus ~ .input-label {
	transform: translate3d(-1rem, -2.5rem, 0);
  color: $color--primary;
	cursor: default;
}

.stay-up {
	transform: translate3d(-1rem, -2.5rem, 0);	
	color: inherit;
	font-size: 100;
}

textarea {
  border-bottom: .1rem solid $color--black-09;
  background: $color--white !important;
  height: 8rem;
}

textarea:focus ~ .input-label {
  top: -1.7rem;
  left: 0;
  color: $color--primary;
}

.stayUpTextArea {
  top: -1.7rem !important;
  left: 0 !important;
}

.hidden {
	display: none;
}


// Pagination
.pagination {
	height: 3rem;
	display: flex;
	flex-direction: row;
	@extend %content__align--horizontal-center;	
}

.pagination > li {
    display: inline;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #337AB7;
}

.pagination > li > a, .pagination > li > span {
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    float: left;
    padding: 0.6rem 1.2rem;
    margin-left: -1px;
    line-height: 1.42857;
    color: #337AB7;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}

// Buttons delete
.delete {
	color: orangered;
	&:hover {
		color: red;
	}
	&:focus {
		color: red;
	}
}

// PlaceHolders
%center__all {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-center;
}

%input--public {
	transition: $transition--default;
	background: $color__white-09;
	border: none;
	border-radius: .5rem;
	border: .1rem solid transparent;
	margin: 0 0 1rem 0;
	padding: .8rem;
	width: 100%;
	font-size: $text__size--medium;
	&:focus {
		border: .1rem solid $color__material--purple;
	}
}

%action__button {
	@extend %button--primary;
	background: $color--active;
	padding: .5rem 2rem;
	&:hover {
		background: $color__hover--active;
	}
	&:focus {
		background: $color__hover--active;		
	}
}

// Chrome yellow background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	background-color: #FFFFFF !important;
	color: #555 !important;
	-webkit-text-fill-color: #555555 !important;
	box-shadow: 0 0 0 1000px $color__white-09 inset !important;
}

// Hide number field arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}