$color--active: #EF3838;
$color__hover--active: #ed5353;

// Top menu
$top-menu__background--logo: url('/assets/images/logo--bg.png');
%top-menu__gradient--background {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,111111+100 */
	background: rgb(85,85,85); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}
$locale__flag--tr: url('/assets/images/flag--tr.png');
$locale__flag--en: url('/assets/images/flag--en.png');

%mobile-menu__cover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0.89+25,1+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.89) 25%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.89) 25%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.89) 25%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

}

// Aside
	// Header
	$header__background: url('/assets/images/header--bg.png');
	$header__background--dark: url('/assets/images/header--bg-dark.png');	
	$header__background--cover: url('/assets/images/cover--image.png');
	
	// Aside
	
	// Second row background
%home__gradient--aside {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,5b1212+100 */
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(91,8,8,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(91,8,8,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(91,8,8,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Footer
