$color__text--default: #333333;

// Page colors
$color--default: #536DFE;
$color--primary: #1976D2;
$color--light:#2196F3;
$color--dark: #0D47A1;
$color__secondary--normal: #CE93D8;
$color__secondary--light: #F3E5F5;
$color__secondary--dark: #AB47BC;
$color__material--purple: #9575cd;

// Buttons
	// Primary & Large
$button__primary__background--default: #2196F3;
$button__primary__background--hover: #1976D2;
$button__primary__background--active: #0D47A1;
$button__primary__background--focus: #1976D2;
$button__primary__background--disable: #999;

	// Flat
$button__flat__background--default: #fff;
$button__flat__background--hover: #ddd;
$button__flat__background--active: #aaa;
$button__flat__background--focus: #ddd;
$button__flat__background--disable: #999;

	// Buttons text
$button__text--primary: #fff;
$button__text--flat: #2196F3;

// Error
$color__error--default: #F44336;

// Transperant colors
$color__background--transperant: rgba(10, 100, 250, .7);
$color__black--transperant: rgba(0, 0, 0, .3);

// Gradients
%login--background {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100 */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}