<div class="material__container">
	<input class="material__input {{ inputClass }}" 
				 autocomplete="off"
				 value=""
				 type="{{ type }}"
				 id="{{ name }}" 
				 name="{{ name }}"
				 ng-model-options="{ allowInvalid: true }"
				 ng-model="model"
				 ng-required = "{{ required }}">
	<label class="material__label"
				 ng-class="{ 'stay-up': model }"
				 for="{{ name }}" ng-transclude>{{ labelText }}</label>
</div>