.material__container {
  position: relative;
  display: block;
	margin-top: 3rem;
}

.material__input {
  transition: .2s linear;
  @extend .text__size--normal;
  background: none;
	border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  display: block;
  overflow: hidden;
  padding: .7rem 1rem;
	width: 100%;
	&:focus {
		outline: none;
		box-shadow: 0px .1rem 0 0 #1976D2;
		border-bottom: 1px solid #1976D2;
		color: #1976D2;
	}
	&:focus ~ .material__label {
		transform: translate3d(-1rem, -2.5rem, 0);
		color: $color--primary;
		cursor: default;
	}
}

.material__label {
	transition: .2s linear;
  font-size: 1.3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
	cursor: text;
}

.stay-up {
	transform: translate3d(-1rem, -2.5rem, 0);	
	color: inherit;
	font-size: 100;
}