/**********************************
*     --- Login screen ---        *
**********************************/

// Styles
.login__wrapper {
	@extend %wrapper--flex;
	@extend %login--background;
	@extend %content__align--horizontal-center;	
	@extend %content__align--vertical-center;
	height: 100vh;
}

.login__container {
	transition: $transition--default;
	@extend %container__block;
	background: $color--white;
	width: 25%;
	min-width: 50rem;
	border-radius: .3rem;
	margin: 1rem;
	box-shadow: $box-shadow-normal;
	overflow: visible;
	&:hover {
		box-shadow: $box-shadow-hover;
	}
	@media only screen and (max-width: 550px) {
		min-width: 30rem;
	}
}

.login__label {
	@extend .text__size--large;
	background: $color--primary;
	color: $color--white;
	padding: 1rem;
}

.login__container--form {
	padding: 2rem 3rem 3rem 3rem;
	position: relative;
}

.login__input--email {
	width: 100%;
}

.login__input--password {
	width: 100%;
} 
.login__container--button {
	@extend %container__flex--row;
	@extend %content__align--horizontal-right;
	margin-top: 5rem;		
}

.login__button--submit {
	@extend %button--primary;
	width: 10rem;
	padding: .5rem 1rem;
}

.login__container--logo {
	position: fixed;
	bottom: 0;
	right: 0;
}

.login__image--logo {
	height: 5rem;
	margin: 1rem;
}

.login__container--feathers {
	position: absolute;
	bottom: 1rem;
	left: 2rem;
	width: 25%;
}

.login__image--feathers {
	width: 100%;
}