<section class="login__wrapper">
	<div class="login__container">
		<p class="login__label" translate>LOGIN.LABEL</p>
		<div class="login__container--form">
			<form novalidate
						name="loginForm"
			      autocomplete="off"
						ng-submit="login(user)">

				<!--User email-->
				<material-input input-class="login__input--email"	
												type="text"
												name="email"
												model="user.username"
												required="true"> {{ 'USERNAME' | translate }}
				</material-input>
				<p class="form-group-message" ng-hide="loginForm.$submitted && loginForm.email.$error.required">{{ 'MESSAGES.ENTER_VALID' | translate }} {{ 'USERNAME' | translate | lowercase }}</p>								
				<p class="form-group-message error-message" ng-if="!user.username && clear">{{ 'USERNAME' | translate}} {{ 'MESSAGES.IS_REQUIRED' | translate }}</p>												

				<!--User password-->
				<material-input input-class="login__input--password"
												type="password"
												name="password"
												label-text="Password"
												model="user.password"
												required="true">{{ 'PASSWORD' | translate }}
				</material-input>				
				<p class="form-group-message" ng-hide="loginForm.$submitted && loginForm.password.$error.required">{{ 'MESSAGES.ENTER_VALID' | translate }} {{ 'PASSWORD' | translate  | lowercase }}</p>											
				<p class="form-group-message error-message" ng-show="!user.password && clear">{{ 'PASSWORD' | translate}} {{ 'MESSAGES.IS_REQUIRED' | translate}}</p>															

				<!--Button-->
				<div class="login__container--button">
					<button class="login__button--submit" type="submit" translate>BUTTONS.LOGIN</button>
				</div>
				<div class="login__container--feathers">
					<img class="login__image--feathers" src="/assets/images/feather-top.png" alt="158ltd logo">
				</div>
			</form>
		</div>
	</div>
	<div class="login__container--logo">
		<img class="login__image--logo" src="/assets/images/logo--158.svg" alt="158ltd logo">
	</div>
</section>
